{% extends 'base.html' %}


{% block content %}
    <div class="col-sm-9">
        <h2>Матрица {{ object.id }}:</h2>
        {% for line in object.show_matrix %}
            <p>{{ line }}</p>
        {% endfor %}
        <h3>Размер матрицы: </h3>
        <p>Количество строк {{ object.rows }}</p>
        <p>Количество столбцов {{ object.columns }}</p>
        <button class="btn btn-success">
            <a href="{% url 'update' object.id %}" style="color: white">
                Изменить
            </a>
        </button>
        <button class="btn btn-danger">
            <a href="{% url 'delete' matrix.pk %}" style="color: white">
                Удалить
            </a>
        </button>
    </div>
{% endblock content %}
