{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-1">
        <div class="card"><a href="{% url 'create' %}">Add</a></div>
        <hr/>
        {% for matrix in object_list %}
            <div class="card"><a href="{% url 'detail' matrix.pk %}">{{ matrix.name }}</a></div>
            <hr/>
        {% endfor %}
    </div>

    <div class="col-sm-8">
        <div class="jumbotron">
            <h2>Определитель матриц</h2>
            <br>
            <p>Определитель матрицы или детерминант матрицы - это одна из основных численных
                характеристик квадратной матрицы, применяемая при решении многих задач</p>
        </div>
    {% for matrix in object_list %}
        <h4>Определитель матрицы {{ matrix.name }}: {{ matrix.determinate }}</h4>
        <hr/>
    {% endfor %}
    <button class="btn btn-primary">
        <a href="{% url 'det_in_file' %}" style="color: white; text-decoration: none">
            Сохранить в файлы
        </a>
    </button>
    </div>
{% endblock content %}

