{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-1">
        <div class="card"><a href="{% url 'create' %}">Add</a></div>
        {% for matrix in object_list %}
            <div class="card">
                <a href="{% url 'detail' matrix.pk %}">Matrix {{ matrix.id }}</a>
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-8">
        <div class="jumbotron">
            <h2>Определитель матриц</h2>
            <br>
            <p>Определитель матрицы или детерминант матрицы - это одна из основных численных
                характеристик квадратной матрицы, применяемая при решении многих задач</p>
        </div>
    {% for matrix in object_list %}
        <h3>Определитель матрицы {{ matrix.id }}: {{ matrix.determinate }}</h3>
    {% endfor %}
    </div>
{% endblock content %}

