{% extends 'base.html' %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <h2>Как этим пользоваться?</h2>
        <h3>Краткая инструкция</h3>
        <br>
        <p>Для добавления новой матрицы необходимо кликнуть "Add".</p>
        <br>
            <h4><b>И что делать дальше?</b></h4>
        <br>
        <p>Вы можете дать своей матрице имя в поле "Name".
            Далее нужно ввести размеры матрицы(rows - строки, columns - колонки) и собственно саму матрицу.</p>
        <h4>Например</h4>
        <br>
        <b>Rows*</b>
        <br>
        <input type="text" value="3" readonly>
        <br>
        <b>Columns*</b>
        <br>
        <input type="text" value="2" readonly>
        <br>
        <b>Values*</b>
        <br>
        <textarea rows="4" readonly>
            3 3
            2 5
            1 9
        </textarea>
        <br>
        <h4><b>Я создал матрицу. Что я могу с ней сделать?</b></h4>
        <br>
        <p>После завершения вы можете сохранить матрицу в файл, либо удалить ее.</p>
        <p>Чтобы выполнить какое либо действие над матрицей, необходимо кликнуть
            по соответствующей ссылке в меню справа, где вы увидите ответы для всех ваших матриц.
            Далее, находясь на нужной вам странице, вы можете сохранить все данные в файл.
            Для каждой матрицы будет создан отдельный файл и ответ будет записан в него.
        </p>
        <br>
      </div>
    </div>
{% endblock content %}
