{% extends 'base.html' %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <h2>Спасибо, что использовали наш сайт</h2>
          <br>
        <p>Наш сайт для выполнения основных операций целочисленной матричной арифметики.</p>
        <p>К основным операциям матричной арифметики можно отнести:<br>
            транспонирование, нахождение определителя, нахождение ранга, нахождение определителей минорных матриц,
            приведение к треугольной матрице, нахождение корней системы линейных уравнений,
            нахождение суммы элементов матрицы и среднего значения.</p>
      </div>
    </div>
{% endblock content %}
