{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-1">
        <div class="card"><a href="{% url 'create' %}">Add</a></div>
        <hr/>
        {% for matrix in object_list %}
            <div class="card"><a href="{% url 'detail' matrix.pk %}">{{ matrix.name }}</a></div>
            <hr/>
        {% endfor %}
    </div>

    <div class="col-sm-8">
        <div class="jumbotron">
            <h2>Ранг матрицы</h2>
            <br>
            <p>Ранг матрицы - наивысший из порядков всевозможных ненулевых миноров этой матрицы.</p>
        </div>
    {% for matrix in object_list %}
        <h4>Ранг матрицы {{ matrix.name }}: {{ matrix.matrix_rank }}</h4>
        <hr/>
    {% endfor %}
    <button class="btn btn-primary">
        <a href="{% url 'rank_in_file' %}" style="color: white; text-decoration: none">
            Сохранить в файлы
        </a>
    </button>
    </div>
{% endblock content %}

