{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-1">
        <div class="card"><a href="{% url 'create' %}">Add</a></div>
        {% for matrix in object_list %}
            <div class="card">
                <a href="{% url 'detail' matrix.pk %}">Matrix {{ matrix.id }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="col-sm-8">
    <div class="jumbotron">
        <h2>Среднее значение чисел матрицы</h2>
        <br>
    </div>
    {% for matrix in object_list %}
        <h4>Среднее значение чисел матрицы {{ matrix.id }}: {{ matrix.mean_element }}</h4>
    {% endfor %}
    </div>
{% endblock content %}