{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-1">
        <div class="card"><a href="{% url 'create' %}">Add</a></div>
        <hr/>
        {% for matrix in object_list %}
            <div class="card"><a href="{% url 'detail' matrix.pk %}">{{ matrix.name }}</a></div>
            <hr/>
        {% endfor %}
    </div>

    <div class="col-sm-8">
        <div class="jumbotron">
            <h2>Треугольная матрица</h2>
            <br>
            <p>Нижней треугольной матрицей называется матрица,
                все элементы которой выше главной диагонали равны нулю.
                Верхней треугольной матрицей называется матрица,
                все элементы которой ниже главной диагонали равны нулю</p>
        </div>
        {% for matrix in object_list %}
            <h3  style="text-align: center">Треугольная матрица {{ matrix.name }}:</h3>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Нижняя треугольная матрица</h4>
                    <table style="width: 20%; height: 100%; text-align: center">
                        <tbody>
                            {% for line in matrix.triangular_matrix_bottom %}
                                <tr>
                                    {% for element in line %}
                                        <td>{{ element }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <h4>Верхняя треугольная матрица</h4>
                    <table style="width: 20%; height: 100%; text-align: center">
                        <tbody>
                            {% for line in matrix.triangular_matrix_top %}
                                <tr>
                                    {% for element in line %}
                                        <td>{{ element }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
{% endblock content %}

